@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500&family=Roboto+Condensed:wght@300;400&display=swap");

/* --------------------------------------------------------------------Colors */

.ui-menu-color-home,
.home-footer {
  background-color: #2c89a5;
}

.ui-menu-color-order,
.order-footer {
  background-color: #638f21;
}

.ui-menu-color-reservation,
.reservation-footer {
  background-color: #aa58aa;
}

.ui-menu-color-rate-us,
.rate-us-footer {
  background-color: #bb6363;
}

body {
  background-color: #fafafa;
}

/* -------------------------------------------------------------------general */
body,
html,
footer {
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

footer{
    overflow-y: hidden;
}
.inline {
  display: inline;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4
 {
  font-family: "Baloo Bhaina", sans-serif;
  text-align: center;
}

h5,
h6,
p,
.btn,
span {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

ul {
  list-style-type: none;
}

a {
  color: #fafafa;
}

strong {
  font-weight: 600;
}

/* --------------------------------------------------------------------header */

header {
  min-height: 120px;
  margin: 0 auto;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.list-inline-item {
  margin-top: 0;
  padding-left: 0px;
}

.menucontainer {
  font-size: 0;
}

#nav {
  margin: 0;
}

#nav li {
  padding: 0;
  font-size: 14px;
}

.menuitem {
  height: 120px;
  text-align: center;
  padding: 0;
}

.menuitem a {
  width: 100%;
  text-decoration: none;
  color: #fafafa;
  height: 120px;
}

.menuitem a i {
  padding-top: 22px;
  display: block;
  color: #fafafa;
  font-size: 26px;
}

.menuitem span {
  display: block;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}

.hvr-sweep-to-bottom:before {
  background: #00000033;
  height: 120px;
}

/* --------------------------------------------------------------------footer */

footer {
  color: #fafafa;
}

.footer-parts {
  margin-bottom:5px;
}

.sign-in-note {
  padding-right: 10px;
  margin-bottom: 5px;
  line-height: 20px;
  font-size: 16px;
}

.sign-in-btn {
  border-radius: 50px;
  background-color: #daa520;
  height: 60px;
  min-width: 120px;
  border-color: #daa520;
  margin: 0 auto;
  margin-top: 10px;
  bottom: 30px;
}

#sign-in-passworld,
#sign-in-email {
  background-color: #faf5e4;
  border-width: 3px;
  text-align: center;
}

#sign-in-passworld:focus,
#sign-in-email:focus {
  border-color: #daa520;
  border-width: 3px;
  background-color: #fafafa;
}

.btn-primary:hover {
  color: #fafafa;
  background-color: #c5a34b;
  border-color: #c5a34b;
}

.contacts {
  height: 100%;
}

.contact-items {
  height: 60%;
}

.contacts p {
  width: 350px;
  height: 40px;
  padding-left: 17px;
}

.contacts i {
  width: 20px;
  height: 20px;
  font-size: 22px;
  padding-left: 0px;
}

.social-links {
  margin: 0 auto;
}

.social-links li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
}

.social-links a i {
  width: 40px;
  height: 40px;
  padding: 17px 2px 20px 2px;
  margin-bottom: 5px;
  border-radius: 50%;
  font-size: 25px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
}

.social-links li a i:hover {
  background: #686464;
}

.general-sub {
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 26px;
  font-weight: 600;
}

form,
.form-control {
  max-width: 80%;
}

/* --------------------------------------------------------------------index */

.logo,
.carousel-item img {
  background-position: center;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  height: 590px;
}

.carousel-item h5 {
  background-color: #fafafa;
  color: #686464;
  width: 250px;
  margin: 0 auto;
}

.jumbotron-fluid {
  margin: 0 auto;
  background-color: #7e7e7e;
  color: #fafafa;
  padding: 10px;
  width: 100%;
}

.footer-content{
  padding-top: 10px;
}

.page-heading {
  font-family: "Baloo Bhaina", sans-serif;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 5px;
}

.jumbotron-fluid p,
.index-note {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  margin: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.jumbotron-fluid p {
  margin-bottom: 0;
  text-align: center;
}

.food-guide h6 {
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;
}

/* -----------------------------------------------------------------food-menu */

.food-menu-header {
  margin-top: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 30px;
  padding: 15px;
  letter-spacing: 2px;
}

.food-menu ul {
  padding-left: 0;
}

.food-menu-header li {
  text-align: center;
}

.food-menu-header:hover {
  background-color: #547522;
  color: #fafafa;
}

.active-btn {
  background-color: #638f21;
  border-color: #638f21;
  color: #fafafa;
}

.drinks-header {
  background-color: #638f21;
  color: #fafafa;
  margin: 0 auto;
  border-radius: 50px;
  font-size: 30px;
  padding: 10px;
}

.guide-span {
  float: right;
  font-size: 18px;
}

.food-menu-images {
  height: 200px;
}

/*-----------------------------------------------------------------reservation*/

.validity {
  padding-left: 0;
  padding-right: 30px;
}

input:invalid + span:after {
  position: absolute;
  content: "✖";
  padding-left: 5px;
}

input:valid + span:after {
  position: absolute;
  content: "✓";
  padding-left: 5px;
}

.views {
  margin: 0 auto;
}

.reservation-submit-btn {
  background-color: #aa58aa;
  border-radius: 50px;
  padding: 0px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  height: 70px;
  max-width: 200px;
}

.reservation-submit-btn:hover {
  background-color: #804580;
}

.reservation-info input {
  border-width: 2px;
  border-color: #e0e0e0;
  border-radius: 20px;
  background-color: #f5eaf5;
  height: 45px;
  text-align: center;
  color: #808080;
}

.reservation-info label{
    margin-bottom: 0;
    margin-top: 15px;
}

.reservation-info input:active {
  background-color: #aa58aa;
}

.views label{
    padding-left: 5px;
}

form {
  margin: 0 auto;
  text-align: center;
}

.form-p {
  margin: 0 auto;
  margin-bottom: 20px;
}

small {
  text-align: center;
  padding-top: 0;
  margin: 0 auto;
}

/* -------------------------------------------------------------------rate-us */

.form-check {
  margin-bottom: 20px;
  margin-top: 10px;
}

.radio-questions label {
  margin-top: 0px;
  margin-left: 5px;
  vertical-align: -webkit-baseline-middle;
}

.radio-questions input {
  height: 30px;
}

.rate-us-submit-btn {
  background-color: #bb6363;
  border-color: #bb6363;
  border-radius: 50px;
  padding: 0px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  height: 70px;
  max-width: 200px;
  margin-top: 20px;
}

.rate-us-submit-btn:hover {
  background-color: #945757;
}

.rate-us-info {
  margin: 0 auto;
}

.rate-us-questions {
  margin: 0 auto;
  margin-top: 10px;
}

.text-area {
  margin: 0 auto;
}

.votes {
  margin: 0 auto;
  margin-top: 15px;
  padding: 0;
}

.form-group {
  padding-left: 0px;
  padding-right: 0px;
}

label.custom-control-label {
  outline-color: #fafafa;
}

.form-control {
  border-width: 3px;
  border-radius: 60px;
  background-color: #e7d8d8;
  width: 80%;
  margin: 0 auto;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle:focus {
  color: #fafafa;
  background-color: #8880809f;
  border-color: #e0e0e0;
  box-shadow: 0 0 0 0.2rem #ffffff80;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #e0e0e0;
}

/* --------------------------------------------------------------------@media */
@media only screen and (max-width: 300px) {
  .drinks-header {
    width: 250px;
  }

  .contact-items div {
    margin-left: 15px;
  }
  
  .menuitem span{
      font-size: 10px;
  }
  
  .page-heading{
      font-size: 25px;
      font-weight: bold;
  }
  
  .general-sub{
      font-size: 20px;
  }
  
}

@media only screen and (min-width:301px) and (max-width:601px){
    .page-heading{
      font-size: 32px;
      font-weight: bold;
  }
    
}

@media only screen and (min-width: 795px) {
  footer p,
  .jumbotron-fluid p,
  .index-note,
  .food-guide h6 {
    line-height: 2.25;
  }

  .drinks-header {
    width: 500px;
  }

  form {
    width: 75%;
  }
}

@media only screen and (min-width: 1000px){
  #nav,
  #nav li,
  .menuitem,
  .hvr-sweep-to-bottom:before,
  header {
    height: 220px;
  }  
  
  .menuitem span {
    font-size: 21px;
    padding-top: 95px;
  }
  
}

@media only screen and (min-height: 1200px){
  html,
  body {
    height: 100%;
  }
  
  #nav,
  #nav li,
  .menuitem,
  .hvr-sweep-to-bottom:before,
   header {
    height: 220px;
  }
  
  .menuitem span {
    font-size: 21px;
    padding-top: 95px;
  }

  footer,
  .jumbotron-fluid {
    height: 20.5%;
  }

  .general-sub {
    padding-bottom: 35px;
    padding-top: 15px;
  }
  
  .social-links{
      height: 75%;
  }
}
