@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500&family=Roboto+Condensed:wght@300;400&display=swap");

/* ---------------------------------------------------------------------------------------------------Colors */

.ui-menu-color-home {
  background-color: rgb(44, 138, 167);
}

.home-footer {
  background-color: rgb(44, 138, 167);
}

.ui-menu-color-order {
  background-color: rgb(99, 143, 33);
}

.order-footer {
  background-color: rgb(99, 143, 33);
}

.ui-menu-color-reservation {
  background-color: rgb(170, 88, 170);
}

.reservation-footer {
  background-color: rgb(170, 88, 170);
}

.ui-menu-color-rate-us {
  background-color: rgb(187, 99, 99);
}

.rate-us-footer {
  background-color: rgb(187, 99, 99);
}

/* ----------------------------------------------------------------------------------------------------general */

.inline {
  display: inline;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  padding: 10px;
}

header {
  min-height: 120px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

/* ---------------------------------------------------------------------------------------------------:index */

.index-section {
  height: 60vh;
}

.logo {
  background-position: center;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-item img {
  height: 60vh;
}

.carousel-item h5 {
  background-color: whitesmoke;
  color: rgb(62, 63, 77);
  max-width: 200px;
  height: 30px;
  margin: 0 auto;
}

.jumbotron-fluid {
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(106, 124, 129);
  color: #fafafa;
  margin-bottom: 10px;
  margin-top: 10px;
}

.jumbotron-fluid p {
  text-align: center;
  line-height: 35px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.jumbotron-fluid strong {
  font-weight: bold;
  color: rgb(180, 218, 230);
}

/* --------------------------------------------------------------------------------------------------------header */

.page-heading {
  font-family: "Baloo Bhaina", sans-serif;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.index-note {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  text-align: center;
  line-height: 25px;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.list-inline-item {
  margin-top: 0;
  padding-left: 0px;
}

.menucontainer {
  font-size: 0;
}

#nav {
  margin: 0;
}

#nav li {
  padding: 0;
  font-size: 14px;
}

.menuitem {
  height: 120px;
  text-align: center;
  padding: 0;
}

.menuitem a {
  width: 100%;
  text-decoration: none;
  color: white;
  height: 120px;
}

.menuitem a i {
  padding-top: 22px;
  display: block;
  color: #fafafa;
  font-size: 26px;
}

.menuitem span {
  display: block;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}

.hvr-sweep-to-bottom:before {
  background: rgba(0, 0, 0, 0.2);
  height: 120px;
}

/* -------------------------------------------------------------------------------------------------footer */

.my-app {
  border-radius: 5px;
  background-color: goldenrod;
  height: 60px;
}

footer {
  color: #fafafa;
}

.contacts {
  margin-bottom: 20px;
}

.contacts p {
  text-align: right;
  line-height: 20px;
}

.contacts i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 17px 2px 20px 2px;
  text-align: left;
  font-size: 22px;
  line-height: 20px;
  color: #fafafa;
}

.social-links {
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 10px;
}

.social-links a i {
  width: 40px;
  height: 40px;
  padding: 17px 2px 20px 2px;
  border-radius: 50%;
  font-size: 22px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
}

.social-links li a i:hover {
  background: rgb(104, 100, 100);
}

.general-sub {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 300px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }

  .sm-no-label {
    display: none;
  }

  .food-guid h6 {
    text-align: left;
    line-height: 3;
  }
}

@media only screen and (max-width: 340px) {
  .index-section {
    height: 560px;
  }
}

@media only screen and (min-width: 341px) and (max-width: 399px) {
  .index-section {
    height: 505px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .index-section {
    height: 455px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 920px) {
  .logo,
  .index-section {
    height: 90vh;
  }

  .carousel-control-prev,
  .carousel-control-next,
  .carousel-item img {
    height: 90vh;
  }
}

@media only screen and (min-width: 921px) {
  index-section {
    height: 60vh;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .index-responsivness {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* ----------------------------------------------------------------------------------food-menu */

.food-menu-header {
  height: 60px;
  padding: 10px 2px 10px 2px;
  margin-top: 40px;
  width: 90px;
  text-transform: uppercase;
}

.food-menu-header:hover {
  background-color: rgb(84, 117, 34);
  color: white;
}

.active-btn {
  background-color: rgb(99, 143, 33);
  border-color: rgb(99, 143, 33);
  color: white;
}

.list-group-item h1 {
  background-color: rgb(99, 143, 33);
  color: white;
  max-width: 300px;
  margin: 0 auto;
  height: 50px;
}

.list-group-item div h4 {
  display: inline;
}

.guide-span {
  float: right;
}

/* -------------------------------------------------------------------------------------------------------------reservation */

.views {
  max-width: 80%;
  margin: 0 auto;
}

.reservation-submit-btn {
  background-color: rgb(170, 88, 170);
  border-radius: 5px;
  padding: 0px;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 60px;
  text-align: center;
}

.reservation-submit-btn:hover {
  background-color: rgb(128, 69, 128);
  border-radius: 5px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: rgb(170, 88, 170);
  background-color: rgb(170, 88, 170);
}

.personal-info {
  margin: 0 auto;
}

.personal-info input {
  border-width: 3px;
  background-color: rgb(245, 234, 245);
  margin-top: 30px;
  text-align: left;
  height: 24px;
}

.personal-info label {
  margin-top: 30px;
  padding: 0px;
  text-align: left;
  margin-bottom: 0px;
}

#sits {
  margin-top: 0px;
  border-width: 3px;
  background-color: rgb(245, 234, 245);
}

#sits-label {
  margin-top: 0px;
}

form {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.form-p {
  margin: 0 auto;
  margin-bottom: 20px;
}

.custom-switch {
  margin-bottom: 35px;
  padding-right: 5px;
}

small {
  text-align: center;
  padding-top: 0;
  margin: 0 auto;
}

/* ----------------------------------------------------------------------------------------------------------------rate-us */

.rate-us-submit-btn {
  background-color: rgb(187, 99, 99);
  border-radius: 5px;
  padding: 0px;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 60px;
  text-align: center;
}

.rate-us-submit-btn:hover {
  background-color: rgb(148, 87, 87);
  border-radius: 5px;
}

.rate-us-info {
  margin: 0 auto;
}

.rate-us-info input {
  border-width: 3px;
  background-color: rgb(236, 220, 220);
  margin-top: 30px;
  text-align: left;
  height: 24px;
}

.rate-us-info label {
  margin-top: 30px;
  padding: 0px;
  text-align: left;
  margin-bottom: 0px;
}
