@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500&family=Roboto+Condensed:wght@300;400&display=swap");

/* ---------------------------------------------------------------------------------------------------Colors */

.ui-menu-color-home {
  background-color: #2c89a5;
}

.home-footer {
  background-color: #2c8aa7;
}

.ui-menu-color-order {
  background-color: #638f21;
}

.order-footer {
  background-color: #638f21;
}

.ui-menu-color-reservation {
  background-color: #aa58aa;
}

.reservation-footer {
  background-color: #aa58aa;
}

.ui-menu-color-rate-us {
  background-color: #bb6363;
}

.rate-us-footer {
  background-color: #bb6363;
}

body{
    background-color: #fafafa;
}

/* ----------------------------------------------------------------------------------------------------general */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  padding: 10px;
}

header {
  min-height: 120px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  color: #fff;
}

strong{
    font-weight: 600;
}

/* -----------------------------------------------------------------------:index */

.index-section {
  height: 62vh;
  margin-bottom: 0;
}

.logo {
  background-position: center;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-item img {
  height: 62vh;
}

.carousel-item h5 {
  background-color: #f5f5f5;
  color: #3e3f4d;
  max-width: 200px;
  height: 30px;
  margin: 0 auto;
}

.jumbotron-fluid {
  margin: 0 auto;
  padding: 30px;
  background-color: #b8b2b2;
  color: #fafafa;
}

.jumbotron-fluid p {
  text-align: center;
  line-height: 35px;
  margin: 0 auto;
  margin-bottom: 3vh;
}

.jumbotron-fluid strong {
  font-weight: bold;
}

.page-heading {
  font-family: "Baloo Bhaina", sans-serif;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 5px;
}

.index-note {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  text-align: center;
  line-height: 25px;
  margin: 10px;
  padding: 10px;
  padding-top: 0;
  font-size: 16px;
}

/* -----------------------------------------------------------------------header */

.list-inline-item:not(:last-child) {
  margin: 0;
}

.list-inline-item {
  margin-top: 0;
  padding-left: 0px;
}

.menucontainer {
  font-size: 0;
}

#nav {
  margin: 0;
}

#nav li {
  padding: 0;
  font-size: 14px;
}

.menuitem {
  height: 120px;
  text-align: center;
  padding: 0;
}

.menuitem a {
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  height: 120px;
}

.menuitem a i {
  padding-top: 22px;
  display: block;
  color: #fafafa;
  font-size: 26px;
}

.menuitem span {
  display: block;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}

.hvr-sweep-to-bottom:before {
  background: #00000033;
  height: 120px;
}

/* -----------------------------------------------------------------------footer */

.sign-in-btn {
  border-radius: 5px;
  background-color: #daa520;
  height: 60px;
  min-width: 120px;
  border-color: #daa520;
  margin: 0 auto;
}

#sign-in-passworld,
#sign-in-email {
  background-color: #ebe5d9;
  border-width: 3px;
}

#sign-in-passworld:focus,
#sign-in-email:focus {
  border-color: #e2b133;
  border-width: 3px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #a38948;
  border-color: #a38948;
}

footer {
  color: #fafafa;
  min-height: 240px;
}

.contacts {
  margin-bottom: 20px;
}

.contacts p {
  text-align: left;
  line-height: 20px;
}

.contacts i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 17px 2px 20px 2px;
  text-align: left;
  font-size: 22px;
  line-height: 20px;
  color: #fafafa;
}

.cotacts-v-align {
  text-align: left;
  margin: 0 auto;
  padding: 0;
}

.social-links {
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 10px;
}

.social-links a i {
  width: 40px;
  height: 40px;
  padding: 17px 2px 20px 2px;
  border-radius: 50%;
  font-size: 22px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
}

.social-links li a i:hover {
  background: #686464;
}

.general-sub {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 300px;
  margin: 0 auto;
}

/* --------------------------------------------------------------------------------------------------------@media */

@media only screen and (max-width: 549px) {
  .logo {
    display: none;
  }

  .sm-no-label {
    display: none;
  }

  .food-guide h6 {
    text-align: center;
    line-height: 3;
  }

  form {
    width: 80%;
  }

  .index-section {
    height: 660px;
  }
}

@media only screen and (min-width: 351px) and (max-width: 415px) {
  .index-section {
    height: 660px;
  }
  .index-note {
    font-size: 19px;
    font-weight: 100;
  }

  form {
    width: 80%;
  }
}

@media only screen and (min-width: 416px) and (max-width: 601px) {
  .index-note {
    height: 530px;
    line-height: 2;
    font-size: 20px;
    margin-bottom: 15px;
  }

  form {
    width: 80%;
  }

  .carousel-item img,
  .logo,
  .index-section {
    height: 710px;
  }

  .jumbotron-fluid,
  footer {
    min-height: 300px;
    font-size: 22px;
  }
}

@media only screen and (min-width: 602px) and (max-width: 650px) {
  .carousel-item img,
  .logo,
  .index-section {
    height: 520px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1019px) {
  .carousel-item img,
  .logo,
  .index-section {
    height: 72vh;
  }

  .carousel-control-prev,
  .carousel-control-next {
    height: 72vh;
  }

  .index-note {
    line-height: 35px;
    font-size: 20px;
  }

  .jumbotron-fluid,
  footer {
    min-height: 300px;
  }

  footer {
    padding-top: 15px;
  }

  .jumbotron-fluid {
    padding-top: 25px;
  }

  .food-guide {
    padding-top: 25px;
  }
}

@media only screen and (min-width: 549px) and (max-width: 801px) {
  header,
  footer,
  section {
    min-width: 1019px;
  }
}

@media only screen and (min-width: 930px) and (max-width: 1000px) {
  .carousel-item img,
  .logo,
  .index-section {
    height: 80vh;
  }

  .carousel-control-prev,
  .carousel-control-next {
    height: 80vh;
  }
}

@media only screen and (min-height: 900px) and (max-height: 1250px) {
  .jumbotron-fluid,
  footer {
    min-height: 340px;
  }
  .carousel-item img,
  .logo,
  .index-section {
    height: 92vh;
  }

  .carousel-control-prev,
  .carousel-control-next {
    height: 92vh;
  }
}

@media only screen and (min-height: 890px) and (max-height: 1500px) {
  .index-note {
    line-height: 2.5;
    font-size: 20px;
  }
}
@media only screen and (max-width: 300px) {
  body,
  header,
  footer,
  section {
    min-width: 350px;
  }
}

@media only screen and (min-height: 635px) and (max-height: 830px) and (min-width: 355px) and (max-width: 415px) {
  .index-section {
    height: 615px;
  }
}

@media only screen and (min-width: 620px) {
  .votes {
    max-width: 60%;
  }
}
@media only screen and (min-width: 992px) {
    form{
        max-width: 65%;
    }
}
/* ----------------------------------------------------------------------------------food-menu */

.food-menu-header {
  padding: 10px 2px 10px 2px;
  margin-top: 40px;
  width: 90px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 0px;
  margin-bottom: 20px;
}

.food-menu ul {
  padding-left: 0;
}

.food-menu-header li {
  text-align: center;
}

.food-menu-header:hover {
  background-color: #547522;
  color: #ffffff;
}

.active-btn {
  background-color: #638f21;
  border-color: #638f21;
  color: #ffffff;
}

.drinks-header {
  background-color: #638f21;
  color: #ffffff;
  margin: 0 auto;
}

.list-group-item div h4 {
  display: inline;
}

.guide-span {
  float: right;
}

.food-menu-images {
  height: 200px;
}

/* -------------------------------------------------------------------------------------------------------------reservation */


.validity{
    padding-left: 0;
    padding-right: 30px; 
}

input:invalid + span:after {
  position: absolute;
  content: "✖";
  padding-left: 5px;
}

input:valid + span:after {
  position: absolute;
  content: "✓";
  padding-left: 5px;
}

.views {
  margin: 0 auto;
}

.reservation-submit-btn {
  background-color: #aa58aa;
  border-radius: 5px;
  padding: 0px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  height: 70px;
  max-width: 200px;
}

.reservation-submit-btn:hover {
  background-color: #804580;
  border-radius: 5px;
}


.reservation-info {
  margin: 0 auto;
}

.reservation-info input {
  border-width: 3px;
  border-color: #00000033;
  background-color: #f5eaf5;
  text-align: center;
  color: #808080;
}

.reservation-info input:focus {
  outline-color: #aa58aa;
  outline-width: 3px;
}

form {
  margin: 0 auto;
  text-align: center;
}

.form-p {
  margin: 0 auto;
  margin-bottom: 20px;
}

small {
  text-align: center;
  padding-top: 0;
  margin: 0 auto;
}

/* ----------------------------------------------------------------------------------------------------------------rate-us */


.form-check{
    margin-bottom: 20px;
    margin-top: 10px;
}

.rate-us-submit-btn {
  background-color: #bb6363;
  border-color: #bb6363;
  border-radius: 5px;
  padding: 0px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  
  height: 70px;
  max-width: 200px;
  margin-top: 20px;
}

.rate-us-submit-btn:hover {
  background-color: #945757;
  border-radius: 5px;
}

.rate-us-info {
  margin: 0 auto;
}

.rate-us-questions {
  margin: 0 auto;
  margin-top: 10px;
}

.text-area {
  margin: 0 auto;
}

.rate-us-background {
  background-color: #f1ebeb;
  margin-bottom: 25px;
}

.votes {
  margin: 0 auto;
  margin-top: 15px;
  padding: 0;
}

.form-group {
  padding-left: 0px;
  padding-right: 0px;
}

label.custom-control-label {
  outline-color: #ffffff;
}

.form-control {
  border-width: 3px;
  background-color: #f1ebeb;
}


.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle:focus {
  color: #fff;
  background-color: #00000033;
  border-color: #00000033;
  box-shadow: 0 0 0 0.2rem #ffffff80;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none;
}

.form-control:focus{
    box-shadow: none;
    border-color: #00000033;
}
